@import 'assets/styles/mixins/breakpoints';
@import 'assets/styles/variables/colors';

.root {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    color: $dark_gray_color;
    border: 1px solid $dark_gray_color;
    font-size: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.active, .completed {
    color: white;
    background-color: $primary_color;
}

.stepRoot {
    & > .MuiStepperConnector-root {
    }
}