@import 'assets/styles/mixins/breakpoints';
@import 'assets/styles/mixins/typographys';
@import 'assets/styles/variables/colors';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;

    & > hr {
        margin: 20px 0px;
        width: 100%;
        border-bottom: 3px solid $gray_color;
    }
}

.products_section {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .title {
        text-align: center;
        @include text_title;
        color: $dark_gray_color;
    }

    .description {
        margin: 10px 0px;
        text-align: center;
        @include normal_text;
        color: $middle_gray_color;
        max-width: 600px;
    }

    .products {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        margin: 20px 0px;
        padding-bottom: 40px;

        & > .product_item {
            flex: 1;
        }

        @include breakpoint('max-sm') {
            flex-direction: column;
        }
    }
}

.isLast {
    border-bottom: 0px solid $gray_color;
}
