@import 'assets/styles/variables/colors';

@mixin text_title {
    color: black;
    font-size: 24px;
    font-family: GothamBlack;
}

@mixin normal_text {
    color: $gray_color;
    font-size: 18px;
    font-family: GothamBook;
}
