@import 'assets/styles/mixins/breakpoints';
@import 'assets/styles/variables/colors';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.label {
    color: $dark_gray_color;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.answers {
    width: 100%;
    margin: 50px auto;
    max-width: 650px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > .answer_item {
        display: flex;
        margin: 20px 0px;
        width: 50%;
        justify-content: center;

        & > button {
            min-width: 300px;

            @include breakpoint('max-sm') {
                min-width: 100%;
            }
        }
    }

    &.one_column {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .answer_item {
            margin: 20px 0px;
            align-items: center;

            & > button {
                min-width: 400px;

                @include breakpoint('max-sm') {
                    min-width: 200px;
                }
            }
        }
    }

    @include breakpoint('max-sm') {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.go_next {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > button {
        min-width: 400px;

        @include breakpoint('max-sm') {
            min-width: 200px;
        }
    }
}

.step_container {
    font-size: 100px;
    color: $step_text_color;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: -1;
    text-align: center;

    .step {
        font-family: 'NeoncityScript';
        line-height: 0.9;
    }

    .number {
        line-height: 0px;
    }

    @include breakpoint('max-sm') {
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.face_image {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > img {
        max-width: 500px;

        @include breakpoint('max-sm') {
            max-width: 80%;
        }
    }
}

.quiz_section {
    width: 100%;
    position: relative;
}
